<div class="login-page">
  <form class="login-form" [formGroup]="form" (ngSubmit)="signIn()">
    <h2 class="login-form__header">Sign In</h2>
    <label class="label" for="email">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="Email"
      class="input"
      formControlName="email"
      [ngClass]="{
        'has-error': form.get('email')?.invalid && form.get('email')?.touched
      }"
    />
    <p
      class="error-message"
      *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
    >
      Invalid email address
    </p>
    <label class="label" for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      class="input"
      formControlName="password"
      [ngClass]="{
        'has-error':
          form.get('password')?.invalid && form.get('password')?.touched
      }"
    />
    <p
      class="error-message"
      *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
    >
      Password cannot be less than 4 characters
    </p>
    <button class="button">Sign In</button>
  </form>
</div>
