<app-navbar></app-navbar>
<div class="wrapper">
  <h2 class="header">Friends</h2>
  <label class="label" for="search">Search Friends</label>
  <div class="input-wrapper">
    <input class="search-input" type="text" placeholder="Search Friends" />
    <button class="search-btn button">Search</button>
  </div>
  <h2 class="header">My Friends</h2>
  <div class="friends">
    <div class="friends__item">
      <p class="friends__username">Ivan_Blaze@mail.com</p>
      <button class="friends__button button">Remove Friend</button>
    </div>
    <div class="friends__item">
      <p class="friends__username">Ivan_Blaze@mail.com</p>
      <button class="friends__button button">Remove Friend</button>
    </div>
  </div>
</div>
