<app-navbar></app-navbar>
<div class="wrapper">
  <h2 class="header">Friends</h2>
  <label class="label" for="search">Search Friends</label>
  <div class="input-wrapper">
    <input
      #searchInput
      class="search-input"
      type="text"
      placeholder="Search Friends"
    />
    <button
      class="search-btn button"
      (click)="onSearchChange(searchInput.value)"
    >
      Search
    </button>
  </div>
  <h2 class="header">My Friends</h2>
  <div class="friends">
    <p *ngIf="friends.length === 0">You don't have any friend now</p>
    <app-friend
      (addFriend)="addFriend($event)"
      *ngFor="let friendItem of friends"
      [friend]="friendItem"
      [friendStatus]="'Remove'"
    ></app-friend>
    <ng-container *ngIf="isFriendSearch">
      <app-friend
        (addFriend)="addFriend($event)"
        *ngFor="
          let friendItem of mockFriends | friendsSearchFilter: searchValue
        "
        [friend]="friendItem"
      ></app-friend>
    </ng-container>
  </div>
</div>
